.battle-history-page {
  min-height: 100vh;

  .battle-history-centered-content {

    .battle-history-viewport-width {
      min-width: 90%;

      .battle-history-header-text {
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
      }

      .battle-history-table-container {
        .battle-history-table {
          background-color: #FFFFFF;

          th, td {
            width: 33%;
          }
        }

        .history-table-no-history-message {
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }
}