.shop-page {
  .shop-centered-content {
    .shop-header-text {
      margin-top: 25px;
      margin-bottom: 50px;
    }

    .shop-item-list {
      .shop-item-listgroup-item-heading {
        color: #000000;
      }

      .shop-item-listgroup-item-text {
        color: #000000;
      }
    }
  }
}